# OCR and PDF Processing
pdf2image
pytesseract
Pillow

# Language and Translation
langdetect
deep-translator
requests

#chatbot 
dotenv
langchain
langchain==0.2.16           
langchain-community==0.2.16
langchain-text-splitters==0.2.4
langchain-huggingface==0.0.3
sentence-transformers
faiss-cpu
streamlit 
python-dotenv
